.product-detail {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.product-detail h1 {
  width: 300px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

#product-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  object-fit: cover;
  margin: 0 auto 20px;
  border-radius: 20px;
}

.product-detail p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  width: 300px;
  text-align: left;
}
.product-table {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  border-collapse: collapse;
}

.product-table th, .product-table td {
  padding: 12px 15px;
  text-align: left;
}

.product-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.product-table td {
  border-bottom: 1px solid #ddd;
}

.product-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
  padding-left: 30px;
  text-align: justify;
}

.image-container {
  position: relative;
  width: 600px; 
  height: 500px;
  overflow: hidden;
}
.product-grid{
  height: auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.product-card{
  width: 24%;
}
#products-image{
  width: 90%;
  height: auto;
  border-radius: 20px;
}
 #product-img:hover{
  transform: scale(3); 
  cursor: pointer;
 }
 .Link:hover{
  color: red;
 }
 .spane-title{
  font-size: 20px;
  font-weight: 700;
  color: black;
  width: 100%;
 }
 .product-text{
  margin-left: 10px !important;
 }
 .product-names{
  width: 100% !important;
  margin-left: 10px;
 }
 #product-image{
  width: 90%;
 }
 .product-text{
  width: 80%;
  margin: 0px !important;
  margin-left: 10px !important;
 }
 @media (max-width: 1400px){
  .product-detail{
    width: 100%;
    align-items: center;
  }
  .image-container{
    width: 50%;
    height: auto;
  }
  #products-image{
    border-radius: 20px;
    width: 100%;
  }
  #product-img{
    width: 100%;
  }
  .product-grid{
    width: 100%;
    display: flex;
  }
  .main-title{
    width: 100%;
    font-size: 36px;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  .product-card{
    width: 24%;
  }
 }
 @media (max-width: 1110px){
  .product-detail{
    width: 100%;
    align-items: center;
  }
  .image-container{
    width: 50%;
    height: auto;
  }
  #products-image{
    border-radius: 20px;
    width: 100%;
  }
  #product-img{
    width: 100%;
  }
  .product-grid{
    width: 100%;
    display: flex;
  }
  .main-title{
    width: 100%;
    font-size: 36px;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  .product-card{
    width: 24%;
  }
 }
 @media (max-width: 750px){
   .product-detail{
    width: 100%;
    flex-direction: column;
   }
   .image-container{
    width: 90%;
   }
   #products-image{
    border-radius: 20px;
    width: 100%;
    margin-left: 0px !important;
  }
   .product-grid{
    width: 100%;
    flex-wrap: wrap;
    height: 500px;
   }
   .product-card{
    width: 48%;
   }
   .main-title{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 24px;
   }
 }
 @media (max-width: 500px){
  .product-detail{
   width: 100%;
   flex-direction: column;
  }
  .image-container{
   width: 90%;
  }
  .product-grid{
   width: 100%;
   flex-wrap: wrap;
   height: auto;
  }
  .product-table{
    padding: 0 !important;
    width: 90% !important;
  }
  #products-image{
    border-radius: 20px;
    width: 100%;
    margin-left: 20px;
  }
  #product-tbody{
    width: 300px !important;
  }
  .product-name{
    margin-left: 20px;
    width: 80%;
    font-family: Popins;
    font-size: 18px;
  }
  .product-card{
   width: 90%;
  }
  .main-title{
   font-size: 24px;
  }
}