.haqimizda-list{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.haqimizda-img{
    width: 600px;
}
.haqimizda-item{
    width: 540px;
}
.haqimizda-text{
   font-size: 16px;
   line-height: 18px; 
}
.haqimizda-title{
    font-size: 30px;
    line-height:32px;
}