.hero{
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    height: auto;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}
.hero-logo{
    width: 150px;
}
.hero-navbar{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.hero-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
.hero-item-link{
    font-size: 12px;
    font-weight: 500;
    color: rgb(103, 103, 103);
}
.hero-box{
    position: relative;
    width: 100%;
    background-color: rgb(63, 63, 63);
    display: flex;
    height: 500px;
    justify-content: space-around;
    border-radius: 30px;
}
.hero-mebel1{
    right: 180px;
    z-index: 11;
    width: 1100px;
    position: absolute;
}
.hero-box-nav{
    position: absolute;
    right: 80px;
}
.hero-box-title{
    top: 50px;
    position: absolute;
    right: 0px;
    font-size: 38px;
    line-height: 56px;
    height: 50px;
    font-weight: 600;
    color: white;
}
.hero-box-text{
    top: 70px;
    position: absolute;
    font-weight: 600;
    right: 0px;
    font-size: 64px;
    line-height: 70px;
    height: 80px;
    color: white;
}
.hero-text{
    top: 110px;
    position: absolute;
    font-weight: 700;
    right: 0px;
    height: 70px;
    font-size: 90px;
    line-height: 87px;
    color: white;
}
.hero-box-list{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.hero-box-item{
    width: 25%;
    display: flex;
    align-items: center !important;
    list-style: none;
    justify-content: space-around;
}
.hero-box-navbar-title{
    font-size: 14px;
    margin: 0 !important;
    margin-top: 15px !important;
    line-height: 16px !important;
    font-weight: 700;
    color: black;
}
.hero-box-navbar{
    height: 70px;
    align-items: center;
}
.hero-box-navbar-text{
    width: 180px;
    font-size: 14px;
    margin: 0 !important;
    line-height: 16px !important;
}
.language-select {
    width: 150px; /* Sizga kerak bo'lgan kenglik */
  }
  .hero .telegram-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1; /* Make sure the button is above other content */
  }
  .custom-single-value {
    margin-top: -35px;
    margin-left: 10px;
}
.css-1uhm0ny {
    height: 40px;
    width: 150px;
    padding: 0;
    margin-top: 0 !important;
}
.open-menu{
    width: 120px !important;
    display: none;
}
  @media (max-width: 1100px) {
    .container{
        max-width: 100%;
        height: auto;
    }
    .hero-list{
        width: 100%;
    }
    .hero-mebel1{
        width: 90%;
    }
    .hero-box-list{
        padding: 0 !important;
        width: 100%;
        margin-top: 50px;
    }
    .hero-mebel1{
        height: 650px;
    }
  }
  @media (max-width: 1000px) {
  .hero-box-text, .hero-text,  .hero-box-title {
   margin-right: -70px !important;
  }
  .hero-mebel1{
    width: 90%;
    height: 500px;
  }
  .hero-box{
    height: 400px;
  }
  }
  @media (max-width: 900px) {
    .hero-box-navbar-text{
        font-size: 10px;
    }
    .hero-box-navbar-title{
        font-size: 12px;
    }
  }
  @media (max-width: 800px) {
    .hero-item:nth-child(2), .hero-item:nth-child(3), .hero-item:nth-child(4), .hero-item:nth-child(5){
        display: none;
    }
    .open-menu{
        display: block;
    }
     .hero-box-text{
        font-size: 58px;
    }
    .hero-box-title{
        font-size: 40px;
    }
    .hero-text{
        font-size: 70px;
    } 
    .hero-box-list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .hero-box-item{
        width: 48%;
     }
    .hero-box-navbar-text{
        font-size: 14px;
    }
    .hero-box-navbar-title{
        font-size: 14px;
    }
    #hero-select{
        display: none;
    }
  }
  @media (max-width: 700px) {
    
     
}
  @media (max-width: 600px) {
    .hero-mebel1{
        width: 450px;
        top: 30px;
        height: 350px;
        left: -100px;
    }
    .hero-box{
        height: 300px;
    }
    .hero-box-text{
        font-size: 44px;
    }
    .hero-box-title{
        font-size: 38px;
    }
    .hero-text{
        font-size: 54px;
        height: 50px;
        margin-top: 40px;
    }
  }
  @media (max-width: 500px) {
    .hero-mebel1{
        width: 350px;
        top: 0px;
        height: 350px;
        left: -50px;
    }
    .hero-box{
        height: 250px;
    }
    .hero-box-text{
        font-size: 30px;
    }
    .hero-box-title{
        font-size: 26px;
    }
    .hero-text{
        font-size: 44px;
        height: 34px;
        margin-top: 20px;
        height: 40px;

    }
    .hero-logo2{
        width: 40px;
        height: 40px;
    }
  }
  @media (max-width: 400px) {
    .hero-mebel1{
        width: 300px;
        top: 20px;
        height: 200px;
        left: -50px;
    }
    .hero-logo{
        width: 100px;
        height: 35px;
    }
    .hero-box{
        height: 180px;
    }
    .hero-box-text{
        font-size: 24px;
        margin-top: 0;
    }
    .hero-box-title{
        font-size: 20px;
        margin-top: 0;
    }
    .hero-text{
        font-size: 30px;
        height: 34px;
        margin-top: -20px;
        height: 40px;
    }
    .hero-box-item{
        flex-direction: column;
        text-align: center;
        width: 48%;
    }
    .hero-box-navbar-text{
        width: 120px;
        font-size: 10px;
    }
    .hero-box-navbar-title{
        font-size: 12px;
        margin-top: 0 !important;
        width: 120px;
    }
  }
 