.contacts-input {
    padding: 15px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 450px;
    font-size: 1rem;
    color: #888;
    background-color: #dcdcdc;
    transition: box-shadow 0.3s ease;
    margin-left: 0 !important;
   
  }
  
  .contacts-input-text {
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 100%;
    height: 200px;
    font-size: 1rem;
    color: #888;
    background-color: #dcdcdc;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
  }
  
  .contacts-input-text::placeholder {
    color: #888;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 15px; 
    pointer-events: none; 
  }
  
  
  .contact-input-text:focus, .contact-input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  
  .contact-btn {
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    background-color: #f54747;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 310px;
    box-shadow: 0px 4px 15px rgba(245, 71, 71, 0.3);
  }
  .contact-list{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-navbar{
    margin-top: 50px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0 !important;
  }
  .contact-items{
    height: 80px;
    display: flex;
  align-items: center;
  }
  .contact-link{
    color: #888;
  }
  .span-title{
    font-size: 16px;
    color: black;
    font-weight: 700;
  }
.contact-kart{
    width: 50%;
    height: 450px;
    border-radius: 30px;
}
.contact-title{
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 0;
}
@media (max-width: 1100px) {
  .contact-list{
    width: 100%;
  }
  .contacts-input {
      width: 90%;
  }
  .contacts-input-text{
    width: 95%;
  }
  .contact-navbar{
    width: 100%;
  }
  .contact-items{
    width: 32%;
  }
  .contact-link{
    max-width: 80%;
    height: auto;
  }
}
@media(max-width:750px){
  .contact-list{
    flex-direction: column-reverse;
  }
  .contact-kart{
    width: 90%;
  }
  .contact-input-container{
    width: 100%;
  }
  .contact-item{
    width: 100%;
  }
  .contacts-input{
    margin-left: 20px !important;
    width: 85%;
}
.contacts-input-text{
  margin-left: 20px;
  width: 90%;
}
.contact-btn{
  margin-left: 20px;
}
.contact-navbar{
  width: 100%;
  flex-wrap: wrap;
}
.contact-items{
  margin-left: 20px;
  width: 90%;
}
}
@media(max-width:400px){
.contact-kart{
  height: 300px;
}
}